<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/Ciaran_of_Saigir">St. Ciarán of Saighir</a></p>
  <p><a href="/Ciaran_of_Clonmacnoise">St. Ciarán of Clonmacnoise</a></p>
  <p><a href="/Brendan_of_Birr">St. Brendan of Birr</a></p>
  <p><a href="/Brendan_of_Clonfert">St. Brendan of Clonfert</a></p>
  <p><a href="/Columba_of_Terryglass">St. Columba of Terryglass</a></p>
  <p><a href="/Columba">St. Columba</a></p>
  <p><a href="/Mohbi_of_Glasnevin">St. Mohbi of Glasnevin</a></p>
  <p><a href="/Ruadhain_of_Lorrha">St. Ruadhain of Lorrha</a></p>
  <p><a href="/Senan_of_Iniscathay">St. Senan of Iniscathay</a></p>
  <p><a href="/Ninnidh_of_Lough_Erne">St. Ninnidh of Lough Erne</a></p>
  <p><a href="/Laisren_mac_Nad_Froich">St. Laisrén mac Nad Froích</a></p>
  <p><a href="/Canice_of_Aghaboe">St. Canice of Aghaboe</a></p>
</header>
