<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Twelve Apostles of Ireland</title>
  </head>

  <body>
    {{> header}}

    <p>The Twelve Apostles of Ireland constituted some of the earliest monastic
    saints in Ireland's then fledgling Christian tradition and are strongly
    associated with their putative teacher, St. Finian of Clonard. It is important
    to note that this hagiographic tradition was first recorded well
    over a thousand years after the saints in question actually lived thus the
    historical accuracy of many of these hagiographical accounts should not be
    presumed.</p>

    {{> footer}}
  </body>
</html>
