<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Columba of Terryglass (d. 552)</title>
  </head>

  <body>
    {{> header}}

    <p>Another disciple of St. Finnian of Clonard, St. Columba of Terryglass
      founded two noteworthy monasteries, both on Lough Derg, the southernmost
      of the three great lakes on the river Shannon. One of the two monasteries
      ascribed to him is Inis Cealtra (Irish: Holy Island) a now uninhabited
      island in the south of the lake, while the other, Terryglass (Irish:
      Tir Dha Ghlas - ‘land of the two streams’) where he was ultimately buried,
      is located on the north-eastern shore of the lake.</p>

    {{> footer}}
  </body>
</html>
