<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Ciar치n of Clonmacnoise (516 - 549)</title>
  </head>

  <body>
    {{> header}}

    <p>One of the most famous of St. Finnian's many students at the monastery of
       Clonard, St. Ciar치n is most remembered as founder and first abbot of the
       noteworthy monastery of Clonmacnoise along the river Shannon. Despite
       dying at the unnusually young age of 33, Ciar치n accomplished much in
       his lifetime. An anam cara (soul friend) to many of Ireland's most
       prominent contemporary saints including his fellow student St. Columba,
       Ciar치n's legacy was cemented in the founding of Clonmacnoise, a monastery
       that survived as an institution for a millenia and proved to be, at its
       peak from roughly the 8th - 12th centuries, one of the most important
       religious and industrial centers in all of Ireland.
    </p>

    {{> footer}}
  </body>
</html>
