<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Ciarán of Saigir</title>
  </head>

  <body>
    {{> header}}

    <p>Strongly associated with the historic Irish kingdom of Ossory, St. Ciaran of
    Saigir (alternatively St. Ciaran the Elder), is thought to be Ireland's
    first native born saint. His actual associations with St. Finnian and his
    students still remains unclear.</p>

    {{> footer}}
  </body>
</html>
