<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Brendan of Birr</title>
  </head>

  <body>
    {{> header}}

    <p>Another of  St. Finnian’s students at Clonard abbey, St. Brendan lived
      during a time of tremendous growth of Christianity in Ireland amidst the
      slow collapse of the pre-Christian pagan traditions here. His legacy is
      left behind in the monastery he founded at Birr in central Ireland where
      he served as its first abbot. Great friends with St. Columba, he is said
      to have used his influence on behalf of his fellow saint to curb the
      sentence against St. Columba from excommunication to exile over the
      latter’s choice to go to war with St. Finnian of Movilla in one of the
      earliest recorded instances of copyright conflict.</p>

    {{> footer}}
  </body>
</html>
