<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Brendan of Clonfert</title>
  </head>

  <body>
    {{> header}}

    <p>Sometimes known as Brendan the Navigator to differentiate him from St.
      Brendan of Birr, St. Brendan remains one of the most famous of the Twelve
      Apostles of Ireland. He is most famous for his seven year journey to the
      so-called “Isle of the Blessed”, in what can be described as an “immram”,
      a type of literary genre popular in Ireland during the seventh and eighth
      centuries that documented a hero’s journey to the otherworld which can
      itself be considered an infusion of common Celtic tropes with the
      Christian concept of paradise. Prior to and after his famous seven year
      journey, Brendan founded multiple monasteries and visited multiple parts
      of the Celtic world ranging from as far west as the Aran islands, in
      modern day county Galway, to the peninsula of Brittany, in modern France,
      Wales, and western Scotland where he met with St. Columba,
      and founded a monastery on the island of Hinba off of historic Argyll.</p>

    {{> footer}}
  </body>
</html>
