<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Columba of Iona</title>
  </head>

  <body>
    {{> header}}

    <p>Arguably the most famous of the Twelve Apostles, St. Columba (Irish: Colm Cille - ‘Church Dove’) of Iona also holds special distinction as one of the three patron saints of Ireland and is one the most revered saints in the Christian world. Like the other so-called Irish Apostles, St. Columba, the scion of Ulster aristocracy, was a student of St. Finnian of Clonard. St. Columba founded a number of prominent monasteries across Ireland, including Durrow in County Offaly, Derry, Swords, and perhaps Kells. St. Columba’s monastic career in Ireland was, however, cut short when around 560, he engaged in a copyright dispute with St. Finnian of Movilla, one of his earlier spiritual mentors. Against the wishes of St. Finnian, Columba kept his copied manuscript of St. Finnian’s psalter which led to the Battle of Cúl Dreimhne. Although the battle ended in Columba’s favor, a synod of Irish clergy called for his exile, resulting in his departure from the Ireland save for one brief visit some years later. In 563, St. Columba landed in what is modern day Scotland, where, after some traveling, he made his way up to the island of Iona, a small island in the southern Hebrides that may have once been a respite for Druid hermits in pre-Christian times. 
</p>

    {{> footer}}
  </body>
</html>
