<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Laisrén mac Nad Froích</title>
  </head>

  <body>
    {{> header}}

    <p>St. Laisrén is primarily known for the monastery he founded on Devinish (Irish: Daim-inis - ‘Ox Island’) in the southern portion of lower Lough Erne just southeast from St. Ninnidh’s own church on Inishmacsaint. Hagiographic tradition states that Laisrén was one of St. Finnian of Clonard’s many students.
</p>

    {{> footer}}
  </body>
</html>
