<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Senan of Iniscathay</title>
  </head>

  <body>
    {{> header}}

    <p>Associated with Munster, St. Senan founded multiple monasteries here including one near Enniscorthy, one on Inishmore (Irish: Great Island) or Deer Island, and most famously, a monastery on Inis Cathaigh or Scattery Island as it is known in English. Here Senan established an austere, all-male community which according to legend earned him the reproach of both his step-sister St. Conainne (Dachonna) and St. Connaire, who, perceiving the island’s special holiness, both wanted to be buried there. To the latter, today regarded as an early feminist icon, St. Senan eventually relented allowing her to die on the island while to the former, Senan made a clever compromise arranging for her to be buried in the inter-tidal zone - an area that was not ‘officially regarded as part of the island - during low tide thereby acceding to his step-sister’s wishes without violating the rules of his monastic community. Like many of his other peers, there is a great deal of legend that surrounds St. Senan and he is ascribed with having slew a large sea monster called a “cathach”, when he first came to Scattery Island. Additionally, Senan was also credited with surviving the attempt by a local Chieftain to send a Druid after him in order that a spell might be cast upon him consequently, at low tide, a rock can be sighted from the island known as Carraig an Draoi - the Druid’s Rock.</p>

    {{> footer}}
  </body>
</html>
