<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Ninnidh of Lough Erne</title>
  </head>

  <body>
    {{> header}}

    <p>One of the lesser known Irish apostles, St. Ninnidh is associated with what is today County Fermanagh in Northern Ireland. A scion of northern Irish aristocracy, and hailing from what is now County Donegal, St. Ninnidh was another of St. Finnian of Clonard’s many students. His career brought him to Lough Erne where he made the island of Inishmacsaint (Irish: Inis-maige-samh - ‘Island of the Sorrel Plain’), near the western shore of Lough Erne his base, building a monastery here sometime around 530 A.D.</p>

    {{> footer}}
  </body>
</html>
