<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Ruadhain of Lorrha</title>
  </head>

  <body>
    {{> header}}

    <p>Known for the ancient monastery of Lorrha (Irish: Lothra) near the river Shannon in what is today County Tipperary, St. Ruadán is said to have succeeded St. Brendan (the navigator) at the site founding a settlement that had around 150 monks during his tenure. St. Ruadán’s abbey maintained a tough but simple rule and each monk practiced an ascetic lifestyle, rising early to fast and pray between the many daily chores needed to keep their settlement self-sufficient. Like some of his other contemporaries including St. Columba of Iona, Ruadán’s name has made it into Irish legend. Legend ascribed to the saint a successful prediction surrounding the demise of Diarmait Mac Cerbaill, High King of Ireland, who according to legend was cursed by the Irish clergy following his violation of church amnesty by taking a hostage from St. Columba’s protection, an event that some ascribe to the subsequent war that broke out between Columba’s supporters among the powerful northern Ui’Neill dynasty and Diarmit Mac Cerbaill’s own army which ultimately led to Columba’s exile from Ireland.</p>

    {{> footer}}
  </body>
</html>
