<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Ninnidh of Lough Erne</title>
  </head>

  <body>
    {{> header}}

    <p>Testing 123 ...</p>

    {{> footer}}
  </body>
</html>
