<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Canice of Aghaboe</title>
  </head>

  <body>
    {{> header}}

    <p>Like many of his contemporaries, much of St. Canice’s life is wrapped in legend. Born near Derry in what is today County Londonderry, to a bard who earned the protection of a nearby Chieftain whose flocks Canice would watch over when he came of age. His mother was, herself, a figure of noteworthy sanctity. Later on, St. Canice went on to study under St. Finnian of Clonard, where he befriended and accompanied St. Columba of Iona on some of his journeys. Canice subsequently moved on from Clonard to Glasnevin, today a suburb of Dublin, where he studied under St. Mohbi with St. Comgall (of Bangor) and St. Ciaran (of CLonmacnoise) before Mohbi’s own school was torn asunder by plague prompting his move to St. Cadoc’s monastery in Llancarfan, Wales. Almost twenty years later, having been ordained a priest, St. Canice went to Scotland joining St. Columba at Iona where he is known as St. Kenneth. From here he moved on to Saint Andrews, within the historic county-region of Fife where he founded several churches in the general area. The remainder of his life, however, was spent in his native Ireland where he ended up settling in what is today County Laois, founding the church at Aghaboe (Ir: “Field of the ox”), after befriending Colmann the local king who granted him the land needed to build the church on. Today, however, St Canice’s name still lives on most prominently in the sizable town of Kilkenny (Ir: Cill Chainnigh - “Church of Cainnech, Canice”). Interestingly enough, prior to becoming a church, the region of Kilkenny became one of the last bastions of Druidic influence in Ireland and St. Canice allegedly led a army there to ensure the destruction of the Druidic community that fled there.</p>

    {{> footer}}
  </body>
</html>
