<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Mohbi of Glasnevin</title>
  </head>

  <body>
    {{> header}}

    <p>Perhaps an earlier student of St. Finnian of Clonard, St. Mohbi was also reputedly a teacher of at least four other apostles in his own right including Columba (of Iona), Canice, Comgall [Kevin] and Ciarán (of Saighir). Indeed, it was Mohbi who is credited as giving St. Columba  permission to found his own monastic school at Derry. Like St. Ciarán of Clonmacnoise, Mohbi died of plague which ended up tearing his own monastic school of students at Glasnevin asunder.</p>

    {{> footer}}
  </body>
</html>
